.favorite-stamp{
  border:1px solid #ccc;
  border-radius:5px;
  height:200px;
  .favorite-list-group{
    display:inline;
    float:left;
    .favorite-list-item{
      color:#fff;
      background-color: #000;
      opacity:0.6;
      width:100%;
      font-size: 32px;
      padding:4 4 4 4;
      border-radius:5px;
      margin:8 0 8 0;
    }
  }
  .my-fav-stamp{
    display:block;
    text-align:center;
    font-size:52px;
    width:100%;
    img{
      width:25%;

    }
  }
}

@media only screen and (max-width:600px){
  .favorite-stamp{
    height:auto;
    .favorite-list-group{
      clear:both;
      .favorite-list-item{
        width:100%;
      }
    }
  }
}
@media only screen and (max-width:1000px){
  .favorite-stamp{
    height:auto;
    .favorite-list-group{
      display:block;
      width:100%;
    }
    .my-fav-stamp {
      p{
      display:none;
    }
    }
  }
}
